<h2>Galileo-pyut</h2>

<p>Python unit test framework</p>

<p><a href="https://github.com/galileo-project/Galileo-pyut/releases">release page</a></p>
<p><a href="https://github.com/galileo-project/Galileo-pyut">GitHub Page</a></p>

<h3>Python</h3>

<ol>
    <li>python 2.6</li>
    <li>python 2.7</li>
    <li>python 3.x</li>
</ol>

<h3>Build</h3>

<pre>
    python setup.py install
</pre>

<h3>Usage</h3>

<b>project dir structure</b>

<pre>
    |..
    |--project
    |--test
       |--__init__.py
       |--test.py
       |--pyut_some_module.py
       |--pyut_other_module.py
</pre>

<b>test.py</b>

<pre>
    from pyut import testing
    from pyut import eq, it, desc


    def pyut_test_eq():
    eq(1,1)

    def pyut_test_it():
    it(True)
    #it(test_desc_true)

    def test_desc_true():
    return True

    if __name__ == "__main__":
    desc("test pyut desc true", test_desc_true)

    testing()

</pre>

<b>pyut_some_module.py</b>

<pre>
    from pyut import eq

    def pyut_test_eq_val():
    eq(1,1)

    def test_func1():
    return 1

    def test_func2():
    return 1

    def pyut_test_eq_func():
    eq(test_func1, test_func2)

</pre>