html, body {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
a {
    color: blue;
}

.main {
    float: left;
    margin: 10px;
    margin-left: 360px;
    padding: 20px;
}

.sidebar {
    float: left;
    width: 250px;
    height: 1200px;
    padding: 10px 50px 10px 50px;
    border-right: 2px solid rgba(54, 54, 51, 0.73);
    position: fixed;
}

.logo {
    height: 200px;
    margin: auto;
}

.title {
    margin: auto;
}
