<div class="sidebar">
    <img class="logo" src="assets/img/logo.png">
    <h1 class="title"><a href="#/">Galileo Project</a></h1>

    <div>
        <ul>
            <li>
                <h2>Main Project</h2>
                <ul>
                    <li><a href="#ton">galileo ton</a></li>
                </ul>
            </li>

            <li>
                <h2>Toolchain</h2>
                <ul>
                    <li><a href="#gpm">galileo gpm</a></li>
                    <li><a href="#dockyard">galileo dockyard</a></li>
                    <li><a href="#cut">galileo cut</a></li>
                    <li><a href="#pyut">galileo pyut</a></li>
                </ul>
            </li>

            <li>
                <h2>Library</h2>
                <ul>
                    <li><a href="#pyos">galileo pyos</a></li>
                    <li><a href="#async">galileo async</a></li>
                </ul>
            </li>

            <li>
                <h2>Release Note</h2>
                <ul>
                    <li><a href="#sas">Service as Software</a></li>
                </ul>
            </li>

            <li>
                <h2>About</h2>
                <p><a target="_blank" href="https://github.com/galileo-project">GitHub URL</a> </p>
            </li>

        </ul>
    </div>
</div>
